# **<font color='green'>Data Science Master's 2.0**
## Assignment 1-python


## **<font color='green'>Aasif Majeed**

# Q1. Create one variable containing the following type of data:
#    (i) string
#    (ii) list
#    (iii) float
#    (iv) tuple

```python
# Define variables of different data types
string_var = "Hello, World!"
list_var = [1, 2, 3, 4, 5]
float_var = 3.14
tuple_var = (10, 20, 30)

# **Q2. Given are some following variables containing data:**

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

In [7]:

# Data types of given variables

var1_type = type(var1)  # <class 'str'>
var2_type = type(var2)  # <class 'str'>
var3_type = type(var3)  # <class 'list'>
var4_type = type(var4)  # <class 'float'>

## **Q3. Explain the use of the following operators using an example:**

(i) /

(ii) %

(iii) //

(iv) **

In [8]:
# Example of operators
# Division (/) - normal division
result_div = 10 / 3  # result_div = 3.3333333333333335

# Modulus (%) - returns the remainder of the division
result_mod = 10 % 3  # result_mod = 1

# Floor Division (//) - returns the integer division result, discarding any fractional part
result_floor_div = 10 // 3  # result_floor_div = 3

# Exponentiation (**) - raises a number to the power of another number
result_power = 2 ** 3  # result_power = 8

## **Q4. Create a list of length 10 of your choice containing multiple types of data. Using a for loop, print the element and its data type.**

In [9]:
# Create a list
my_list = [1, 'apple', 3.14, True, [5, 6], {'name': 'John'}, (7, 8), None, 'banana', 10]

# Print elements and their data types
for element in my_list:
    print(f"Element: {element}, Data type: {type(element)}")

Element: 1, Data type: <class 'int'>
Element: apple, Data type: <class 'str'>
Element: 3.14, Data type: <class 'float'>
Element: True, Data type: <class 'bool'>
Element: [5, 6], Data type: <class 'list'>
Element: {'name': 'John'}, Data type: <class 'dict'>
Element: (7, 8), Data type: <class 'tuple'>
Element: None, Data type: <class 'NoneType'>
Element: banana, Data type: <class 'str'>
Element: 10, Data type: <class 'int'>

## **Q5. Using a while loop, verify if the number A is purely divisible by number B and if so, then how many times it can be divisible.**

In [10]:
# Initialize numbers
A = 30
B = 3
count = 0

# Verify divisibility and count
while A % B == 0:
    A /= B
    count += 1

print(f"A is divisible by B {count} times.")

A is divisible by B 1 times.

## **Q6. Create a list containing 25 int type data. Using a for loop and if-else condition, print if the element is divisible by 3 or not.**

In [11]:
# Create a list of 25 int type data
int_list = list(range(1, 26))

# Print if element is divisible by 3 or not
for num in int_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

## **Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.**

### Mutable data types can be changed after they are created, while immutable data types cannot be changed after they are created.

### Examples of mutable data types: lists, dictionaries

In [12]:
my_list = [1, 2, 3]
my_list[0] = 10  # Change the first element to 10
print(my_list)   # Output: [10, 2, 3]

my_dict = {'a': 1, 'b': 2}
my_dict['a'] = 100  # Change the value associated with key 'a' to 100
print(my_dict)      # Output: {'a': 100, 'b': 2}

[10, 2, 3]
{'a': 100, 'b': 2}

### Examples of immutable data types: strings, tuples

In [13]:
my_str = "hello"
# Attempting to change a character in a string will raise an error
# my_str[0] = 'H'  # TypeError: 'str' object does not support item assignment

my_tuple = (1, 2, 3)
# Attempting to change a value in a tuple will raise an error
# my_tuple[0] = 10  # TypeError: 'tuple' object does not support item assignment